<Directory "/home/houiwngf/public_html">
    Order Deny,Allow
    Deny from all
</Directory>

<Directory "/home/houiwngf/public_html/.output/public">
    Order Allow,Deny
    Allow from all
</Directory>

RewriteEngine On

RewriteRule ^$ .output/public/ [L]

RewriteCond %{REQUEST_URI} !^/\.output/public/
RewriteRule ^(.*)$ .output/public/$1 [L]